// Reference1: https://nykim.work/84
// Reference2: https://chaewonkong.github.io/posts/scss-media-query.html
// Break Point
$mobile-small: 375px;
$mobile: 425px;
$tablet: 768px;
$labtop: 1024px;
$desktop: 1400px;

// Mixins
@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin labtop {
    @media (max-width: #{$labtop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin mobile-small {
    @media (max-width: #{$mobile-small}) {
        @content;
    }
}


// Reference: https://13akstjq.github.io/sass/2020/02/22/useful-sass-mixin.html
@mixin ellipsis($line: 1) {
    @if ($line == 1) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    } @else {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: $line;
    }
}

@mixin clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}