/**
// 참고: https://uxgjs.tistory.com/256
// 설명: 프로젝트 전체에 적용되는 변수에 대해 정의한 파일
**/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

// Colors
$gray-9: #212529;
$gray-8: #343a40;
$gray-6: #868e96;
$gray-3: #dee2e6;
$main-color: #141414;
$black: #000;
$white: #fff;
$dim-color: rgba(0, 0, 0, 0.75);
$skeleton-color: $oc-gray-8;

// Modal Vairables
$modal-mask-color: rgba(0, 0, 0, 0.5);
$modal-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
$modal-color: #181818;

// Fonts
$noto: 'Noto Sans KR', sans-serif;