/**
// 참고: https://uxgjs.tistory.com/256
// 설명: 프로젝트 전체에 적용되는 변수에 대해 정의한 파일
**/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

// Colors
$gray-9: #212529;
$gray-8: #343a40;
$gray-6: #868e96;
$gray-3: #dee2e6;
$header-color: #0A0A0A;
$main-color: #141414;
$black: #000;
$white: #fff;
$dim-color: rgba(0, 0, 0, 0.75);
$skeleton-color: #222;
$blur-gradient: linear-gradient(0deg, rgba(20, 20, 20, 1), rgba(20, 20, 20, 0)); 
$nav-link-color: #e5e5e5;

// Modal Vairables
$modal-mask-color: rgba(0, 0, 0, 0.5);
$modal-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
$modal-color: #181818;

// Movie Card
$movie-card-background-color: #2F2F2F;
$movie-card-synopsis-color: #d2d2d2;

// Movie Item
$movie-item-background-color: #2F2F2F;

// Fonts
$noto: 'Noto Sans KR', sans-serif;

// Image path
$images: '~@/assets/images/';
$iconImages: '#{$images}icons/';