*,
*::after,
*::before {
	box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
}

body {
	font-family: $noto;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}