/*
    버튼의 공통 스타일을 정의한 scss파일입니다.
*/

button {
    padding: 0;
    margin: 0;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: $noto;
}

.btn {
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;

    @include labtop {
        font-size: 16px;
    }

    @include mobile {
        font-size: 12px;
    }

    &__icon {
        font-size: 1em;
    }

    &__title {
        font-size: 1em;
    }

    // 재생 버튼
    &--play {
        background-color: $white;
        color: $black;
    }
    
    // 상세 정보 버튼
    &--info {
        background-color: rgba(89, 82, 72, 0.7);
        color: $white;
    }
    
    // 유저 액션 버튼
    &--user {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 32px;
        min-height: 32px;
        max-width: 42px;
        max-height: 42px;
        padding: 0;
        background-color: rgba(42,42,42,.6);
        border: 2px solid rgba(255, 255, 255, 0.55);
        border-radius: 50%;
        color: rgba(255, 255, 255, 0.55);

        .btn {
            &__icon {
                margin: 0;
            }

            &__title {
                font-size: 0;
            }
        }
    }

    &--dislike,
    &--like {
        .btn {
            &__icon {
                width: 0.875em;
                height: 0.875em;
            }
        }
    }
}

.caret-icon {
    display: inline-block;
    width: 10px;
    height: 5px;
    background: url('#{$images}icons/caret-down.svg') no-repeat center/100%;
}

.lock-icon {
    
}