$sidePadding: 4%;

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	z-index: 1001;

	&__inner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding: 0 $sidePadding;

		// Reference: netflix 스타일
		background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.7) 10%,
			rgba(0, 0, 0, 0)
		);
	}

	// left
	&__left,
	&__right {
		display: flex;
		height: 100%;
	}

	// logo
	&__logo {
		display: flex;
		align-items: center;
		height: 100%;
		margin-right: 20px;

		.logo {
			width: 92.5px;
			height: 31px;
			object-fit: cover;
		}
	}

	&__nav {
		.nav-menu-btn {
			display: none;
		}
		
		.nav-list {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			&__item {
				&:not(:last-child) {
					margin-right: 20px;
				}

				.nav-link {
					line-height: 70px;
					font-size: 14px;
					transition: opacity 0.3s ease;

					// exact path
					&.router-link-exact-active {
						color: $white;
						pointer-events: none;
						font-weight: bold;
					}

					&:hover {
						opacity: 0.6;
					}
				}
			}
		}
	}

	&__nav-dropdown {
		display: none;
		position: absolute;
		left: $sidePadding;
		top: 100%;
		width: 300px;
		border: 1px solid $gray-9;
		border-top: 1.5px solid $white;
		margin-top: 20px;

		.nav-dropdown {
			&::before {
				top: -11.5px;
			}

			&__item {
				a {
					display: block;
					height: 50px;
					line-height: 50px;
					text-align: center;

					&:hover {
						background-color: rgba(255, 255, 255, 0.1);
					}
				}
			}
		}
	}

	&__right {
		align-items: center;

		.nav-icon {
			color: $white;
			font-size: 24px;
			transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
			will-change: transform, opacity;

			&:hover {
				opacity: 0.6;
			}

			&:focus {
				transform: scale(1.1);
			}
		}
	}

	&__nav-item {
		display: flex;
		align-items: center;
		height: 70px;

		&:not(:first-child) {
			margin-left: 30px;
		}
	}

	&__account-dropdown {
		display: flex;
		align-items: center;
		height: 100%;

		.dropdown-btn {
			display: flex;
			align-items: center;

			.avatar {
				margin-right: 10px;
			}

			.caret-icon {
				width: 10px;
				height: 5px;
				background: url('#{$iconImages}caret-down.svg') no-repeat center/100%;
				transition: transform 0.3s ease;
				will-change: transform;
			}
		}

		.account-dropdown {
			display: none;
			position: absolute;
			top: 100%;
			right: $sidePadding;
			width: 200px;
			margin-top: 20px;

			&::before {
				left: unset;
				border-left-width: 8px;
				border-right-width: 8px;
				border-bottom-width: 8px;
				right: 0;
			}

			&__top {
				padding: 2rem 0;
				border-bottom: 1px solid $gray-9;

				.profile-link {
					padding: 0 1rem;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.config-list {
				padding: 2rem 0;
			}

			.account-list {
				li {
					margin-bottom: 1rem;

					&:last-child {
						margin-bottom: 2rem;
					}

					a {
						&:hover {
							text-decoration: underline;
						}
					}
				}

				.profile {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					padding: 0 1rem;

					&__info {
						display: flex;
						align-items: center;

						.avatar {
							margin-right: 10px;
						}
					}
				}
			}

			.config-list {
				li { 
					a {
						padding: 0 1rem;
						font-weight: 500;

						&:hover {
							text-decoration: underline;
						}
					}

					&:not(:last-child) {
						margin-bottom: 1rem;
					}
				}
			}
		}

		&:hover {
			.dropdown-btn {
				.caret-icon {
					transform: rotate(180deg);
				}
			}

			// FIXME 스크립트 처리
			.account-dropdown {
				display: block;
			}
		}
	}

	// media-query
	@include labtop-small {
		height: 41px;

		&__inner {
			background: $header-color;
		}

		&__logo {
			margin-right: 16px;

			.logo {
				width: 56px;
				height: 17px;
			}
		}

		&__nav {
			.nav-menu-btn {
				display: flex;
				align-items: center;
				line-height: 41px;
				cursor: pointer;

				&::after {
					content: '';
					width: 8px;
					height: 7px;
					margin-left: 5px;
					background: url('#{$iconImages}caret-down.svg') no-repeat center/100%;
				}

			}

			// FIXME 스크립트 처리
			&:hover {
				.header__nav-dropdown {
					display: block;

					.nav-dropdown {
						&::before {
							display: none;
						}
					}
				}
			}

			.nav-list {
				display: none;
			}
		}

		&__right {
			.nav-icon {
				font-size: 18px;
			}
		}

		&__nav-item {
			height: 100%;
		}

		&__account-dropdown {
			.dropdown-btn { 
				.avatar {
					margin: 0;
				}

				.caret-icon {
					display: none;
				}
			}
		}
	}
}
