.seasons {
    position: relative;
	margin-bottom: 3rem;
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.45);

    &.opened {
        .seasons {
            &__box {
                max-height: none;
            }
        }
    }

    &:not(.opened) {
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 5rem;
            background: linear-gradient(to top, #181818, transparent);
            z-index: 1;
        }
    }

    // 헤더 영역
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: bold;
    }

    // 시즌 선택 메뉴
    &__menu {
        &:deep .dropdown-menu {
            &__btn,
            &__content {
                border: 0.1em solid rgb(77, 77, 77);
                border-radius: 0.3em;
                background-color: rgb(36, 36, 36);
                font-size: 1.8rem;
                color: $white;
            }

            &__btn {
                position: relative;
                padding: 0.5em 3em 0.5em 1em;
                font-weight: bold;

                &:hover {
                    opacity: 0.8;
                    transition: 0.3s;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 1em;
                    width: 10px;
                    height: 5px;
                    margin-top: -2.5px;
                    background: url('#{$images}icons/caret-down.svg') no-repeat center/100%;
                    transition: transform 0.3s;
                    will-change: transform;
                }
            }

            &__content {
                right: 0;
                width: auto;
                margin-top: 0.25em;
                padding: 0.25em 0;
            }
        }

        &.open {
            &:deep .dropdown-menu {
                &__btn {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .season-list {
            &__season {
                cursor: pointer;
                padding: 0.5em 0.8em;
                font-size: 1.8rem;
                font-weight: bold;
                white-space: nowrap;

                &:focus,
                &:hover {
                    background-color: rgb(66, 66, 66);
                    outline: 0;
                }
            }

            &__name,
            &__episodes {
                vertical-align: middle;
                line-height: 1.4;
            }
        }
    }

    &__box {
		overflow: hidden;
		max-height: 90rem;
		padding-bottom: 8rem;
	}

    // fold/unfold btn
	.btn--fold {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		width: 6rem;
		height: 6rem;
		z-index: 2;

		input {
			display: none;
		}

		&:hover {
			border-color: white;
		}
	}
}