

.home {
    // 빌보드 영역
    &__billboard {
        .billboard {
            &__inner {
                position: relative;
                padding-bottom: 40%;
            }

            &__back,
            &__front {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            &__back {
                z-index: 0;
            }

            &__front {
                z-index: 1;

                &__inner {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    padding: 0 4% 2%;
                }
            }

            // 빌보드 포스터
            &__poster {
                position: relative;
                width: 100%;
                padding-bottom: 56.25%;
                background-color: $black;

                .poster {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }

            // 빌보드 영화 정보 영역
            &__info {
                word-break: keep-all;
            }

            // 빌보드 영화 제목
            &__title {
                width: 70%;
                font-size: 5vw;
                @include ellipsis(2); 
            }

            // 빌보드 영화 줄거리
            &__overview {
                width: 50%;
                margin-top: 0.5vw;
                font-size: 1.4vw;
                font-weight: 400;
                line-height: 1.4;

                @include ellipsis(5);
            }

            // 빌보드 버튼(컨트롤러) 영역
            &__control {
                margin-top: 1.5vw;

                .btn {
                    transition: opacity 0.3s ease;

                    &:first-child {
                        margin-right: 10px;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }

            // 빌보드 블러 영역
            &__blur {
                position: relative;
                height: 10vw;
                background-image: $blur-gradient;
            }
        }
    }

    // 장르별 영화 영역
    &__movies {
        position: relative;
        padding: 4% 0;
        background-color: $main-color;

        // home__movies__inner
        &__inner {
            margin-top: -10vw;
        }

        // home__movies__row
        &__row {
            margin-bottom: 3vw;
        }
    }
}