.movie-page {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 4%;
        background-color: $main-color;
        z-index: 10;

        &__inner {
            display: flex;
            align-items: center;
        }

    }

    &__title {
        margin-right: 45px;
        font-size: 38px;
        font-weight: bold;
    }

    &__home-link {
        margin-right: 10px;
        color: grey;
        font-size: 18px;
        
        &::after {
            content: '>';
            margin-left: 10px;
            font-size: 18px;
        }
    }

    &__current-genre {
        margin-left: 10px;
        font-size: 38px;
        font-weight: bold;
    }

    &__spinner {
        margin: 0 auto;
    }

    &__content {
        padding: 60px 4% 0;

        .spinner {
            margin: 0 auto;
        }
    }
}