.movie-page {
    padding: 70px 0 0;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 4%;

        &__inner {
            display: flex;
            align-items: center;
        }

    }

    &__title {
        margin-right: 45px;
        font-size: 38px;
        font-weight: bold;
    }

    &__home-link {
        margin-right: 10px;
        color: grey;
        font-size: 18px;
        
        &::after {
            content: '>';
            margin-left: 10px;
            font-size: 18px;
        }
    }

    &__current-genre {
        margin-left: 10px;
        font-size: 38px;
        font-weight: bold;
    }

    &__content {
        padding: 60px 4% 0;

        .movie-list {
            display: flex;
            flex-wrap: wrap;

            li {
                width: calc(100% / 6);
                padding: 0 2.5px;
                margin-bottom: 2%;

                @include labtop {
                    width: calc(100% / 5);
                }

                @include labtop-small {
                    width: calc(100% / 4);
                }

                @include tablet {
                    width: calc(100% / 3);
                }

                @include mobile {
                    width: calc(100% / 2);
                }

                @include mobile-small {
                    width: 100%;
                }
            }
        }

        .spinner {
            margin: 0 auto;
        }
    }
}