.search-page {
    min-height: 100vh;
    padding-top: 70px;

    // movie-list
    &__movie-list {
        padding: 60px 4% 0;

        @include labtop-small {
			padding-top: 0;
		}
    }


    // no-result
    &__no-result {
        display: flex;
        justify-content: center;
        padding: 150px 4% 0;

        .no-result {
            font-size: 14px;
            line-height: 20px;

            h2, p {
                margin-bottom: 20px;
            }

            ul {
                padding-left: 30px;

                li {

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 4px;
                        height: 4px;
                        margin-right: 10px;
                        background-color: $white;
                        border-radius: 50%;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
